# chapter 02. 파이썬의 기본 문법

In [1]:
# 예제 2-1

a=20
b=30
c=a+b
print(c)

50

In [3]:
# 예제 2-2

x=20
Computer = 'Mac'
Age=30
my_score = 70
_name='홍길동'
myBirthYear = 1997
data2=20.3

print(x, Computer, Age, my_score, myBirthYear, data2)

20 Mac 30 70 1997 20.3

In [6]:
# 예제 2-2 (대문자를 소문자로 바꾸기.. 그게 더 편하고 규칙)

x=20
computer = 'Mac'
age=30
my_score = 70
_name='홍길동'
my_birth_year = 1997
data2=20.3

print(x, computer, age, my_score, my_birth_year, data2)

20 Mac 30 70 1997 20.3

In [ ]:
# 예제 2-3

In [7]:
# 예제 2-4

x=30
print(x)
print(type(x))

30
<class 'int'>

In [10]:
# 예제 2-5

x=3.3764
y=6/2
print(x,y)
print(type(x), type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [11]:
# 예제 2-6

a='x'
b='I am ok'
c="안녕하세요."

print(a)
print(b)
print(c)
print(type(c))

x
I am ok
안녕하세요.
<class 'str'>

In [14]:
# 예제 2-7

a=30
print(a)
print(type(a))

b='30'
print(b)
print(type(b))

30
<class 'int'>
30
<class 'str'>

In [24]:
# 예제 2-8
x='I am happy!'

print(x)
print(x[0])
print(x[0:3])
print(x[5:])
print(x[-1])
print(x[-3:])
print(x[-4:-2])
print(x[1], x[4])

print(len(x))

I am happy!
I
I a
happy!
!
py!
pp

11

In [40]:
y= '나는 행복합니다'

print(y[0:3])

print(y[3:8])

start =3
print(y[start:start+2])
print(y[start:start+3])
print(y[start:start+4])
print(y[start:start+5])
print(y[start:start+6])

나는
행복합니다
행복
행복합
행복합니
행복합니다
행복합니다

In [42]:
z = '내 강아지 이름은 happy에요.'

print(z[2:5], z[10:15], z[-8:-3])

강아지 happy happy

In [45]:
# 예제 2-9

a= True
b= False
print(a)
print(b)


c=10>20
print(c)
d=10<20
print(d)


print(type(a))

True
False
False
True
<class 'bool'>

In [46]:
# 예제 2-10

a= 10
b=20

c= a+b*10 -5 / 5
print(c)

209.0

In [50]:
# 예제 2-11

x=10%3
print(x)

y=7/3
print(y)

z=7//3
print(z)

1
2.3333333333333335
2

In [51]:
# 예제 2-12

x=2**3
print(x)

y=10**4
print(y)

8
10000

In [52]:
# 예제 2-13

x=10
x+=20
print(x)

30

In [54]:
# 예제 2-14

x=3
y=5
x*=x+y
print(x)

24

In [55]:
# 예제 2-15

hello='안녕'*5
print(hello)

안녕안녕안녕안녕안녕

In [56]:
# 예제 2-16

a= '쥐 구멍에 볕 들 날 있다.'
b=len(a)

print(b)

15

In [58]:
# 예제 2-17

name='홍지수'
greet = name + '님 안녕하세요!'
print(greet)

홍지수님 안녕하세요!

In [64]:
# 예제 2-18 (정답은 오류 뜨는 것이 맞음)

eng=80
result = '영어점수 : ' + eng + '점'
print(result)

TypeError: can only concatenate str (not "int") to str

In [65]:
# 예제 2-19

eng=80
result = '영어점수 : ' + str(eng) + '점'
print(result)

영어점수 : 80점

In [66]:
# 예제 2-20

name = '김수영'
a = '나는 %s입니다.' %name
print(a)

나는 김수영입니다.

In [67]:
# 예제 2-21

age=20
a= '나이는 %d입니다.' %age
print(a)

나이는 20입니다.

In [72]:
# 예제 2-22

year= 2020
month = 2
day =5

a='%d-%02d-%02d' %(year,month,day)
print(a)

2020-02-05

In [75]:
# 예제 2-23

height=172.5
a= '키는 %.2f입니다' %height
print(a)

키는 172.50입니다

In [76]:
height=172.5
a= '키는 %10.2f입니다' %height
print(a)

키는     172.50입니다

In [74]:
# 예제 2-24

name='황예린'
age=18
eyesight=1.2

a='이름: {}'.format(name)
b='나이: {}'.format(age)
c='시력: {}'.format(eyesight)
print(a,b,c)
print(a)
print(b)
print(c)

이름: 황예린 나이: 18 시력: 1.2
이름: 황예린
나이: 18
시력: 1.2

In [86]:
# 문자열 메소드
x='I am happy!'

x.count('am')

1

In [88]:
x.find('happy')

5

In [91]:
x.upper()

'I AM HAPPY!'

In [92]:
x.lower()

'i am happy!'

In [94]:
x.split()

['I', 'am', 'happy!']

In [96]:
x='I am happy!'
x.isspace()

False

In [98]:
x.replace("am","was")

'I was happy!'

In [83]:
# 예제 2-25

name= '홍길동'
age=30
height=173.7
print(name,age,height)

홍길동 30 173.7

In [82]:
# 예제 2-26

x=10
y=20

print('x=' + str(x)+', y='+str(y))

x=10, y=20

In [113]:
# 예제 2-27


score1=80
score2=87

sum= score1 + score2
avg = sum/2

print('두 과목 점수 : %d,%d' %(score1,score2))
print('합계: %d, 평균: %.1f' %(sum,avg))

두 과목 점수 : 80,87
합계: 167, 평균: 83.5

In [115]:
# sep, end

print('오늘은')

year=2020
month=5
day=29

print(year,month,day)
print('입니다')

오늘은
2020 5 29
입니다

In [118]:
# 오늘은 2020/5/29입니다

print('오늘은',end=' ')
print(year,month,day,sep='/', end=' ')
print('입니다')

오늘은 2020/5/29 입니다

In [109]:
# 예제 2-28

name = '김소원'
id= 'kim'
point = 18000

print('이름 : {}'.format(name))
print('아이디: {}, 마일리지: {} ' .format(id,point))

이름 : 김소원
아이디: kim, 마일리지: 18000

In [110]:
# 예제 2-29

year =2020
month =3
day =5

print(year,month,day,sep='/')

2020/3/5

In [112]:
# 예제 2-30

a='안녕하세요'
b='반갑습니다'

print(a)
print(b)

print('\n\n')

print(a,end='')
print(b)

안녕하세요
반갑습니다



안녕하세요반갑습니다

In [121]:
# 예제 2-31

name = input("이름을 입력하시오 : ")
print('%s님 반갑습니다.' %name)

이름을 입력하시오 : sdsdzxczxc
sdsdzxczxc님 반갑습니다.

In [124]:
# 예제 2-32

a= input("첫번째 숫자를 입력하시오 : ")
b= input("두번째 숫자를 입력하시오 : ")

c= a+b

print(c)

print(type(a),type(b),type(c))

첫번째 숫자를 입력하시오 :
두번째 숫자를 입력하시오 :

<class 'str'> <class 'str'> <class 'str'>

In [1]:
# 예제 2-33

a=input("첫번째 숫자를 입력하세요: ")
b=input("두번째 숫자를 입력하세요: ")

c= int(a)+int(b)

print(c)

첫번째 숫자를 입력하세요: 51512
두번째 숫자를 입력하세요: 5454888
5506400

In [4]:
# 예제 2-34

inch = float(input('인치(inch)를 입력하세요 : '))

cm = inch * 2.54

print('센티미터 : %.f' %cm)
print('센티미터 : %.1f' %cm)
print('센티미터 : %.2f' %cm)
print('센티미터 : %.3f' %cm)

인치(inch)를 입력하세요 : 78844463
센티미터 : 200264936
센티미터 : 200264936.0
센티미터 : 200264936.02
센티미터 : 200264936.020

In [8]:
# Q2-1

width = 10
height=3

area = width * height / 2

print('삼각형의 밑변 길이 : ',width,'\n\n')

print('삼각형의 높이 길이 : ',height,'\n\n')

print('삼각형의 면적 : ', area)

삼각형의 밑변 길이 :  10


삼각형의 높이 길이 :  3


삼각형의 면적 :  15.0

In [11]:
# Q2-2

#물건 가격: 800
# 구매개수 : 3
# 지불금액: 5000
# 거스름돈: 2600


price =800
buy=3
pay = 5000

change = pay - price * buy 

print('물건가격 : ',price)

print(change)

물건가격 :  800
2600